		table {
			border-radius: 10px;
		}
		form {
			display:inline;
		}
		tr:hover 
		{
			background-color: blue;
		}
		td {
			color: white;	
		}
		a {
			color: white;	
		}
		h2 {
			color:white;	
		}
		h3 {
			color:white;	
		}
		
	html {
			 background-image: url("../img/bg.jpg");
  			 -webkit-background-size: cover;
			 -moz-background-size: cover;
			 -o-background-size: cover;
			 background-size: cover;
		}
	