table {
	border-radius: 10px;
}
form {
	display:inline;
}
input[type="text"], input[type="password"]
{
	font-family: 'Dancing Script', cursive;
	font-size: 16px;
}
tr:hover 
{
	background-color: blue;
}
td {
	color: white;	
}
.loginInfo {
	margin-left:auto;
	margin-right: auto;
	padding-top: 110px;
	width: 27%;
}
.loginForm {
	margin-left:790px;
	margin-right: auto;
	padding-top: 150px;
	width: 10%;
}
.loginButton {
	padding-top: 10px;
}

a {
	color: white;	
}
h2 {
	font-family: 'Dancing Script', cursive;
	font-size: 36px;	
}
h3 {
	color:white;	
}
h4 {
	font-family: 'Dancing Script', cursive;
	font-size: 24px;		
}
input {
	width: 300px;
	height: 30px; 
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
		
html {
 	background-color:#FBF0D9;
  	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
}
		
	